@model WebApplication23.Models.Resturant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resturant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResturantId" class="control-label"></label>
                <input asp-for="ResturantId" class="form-control" />
                <span asp-validation-for="ResturantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResturantName" class="control-label"></label>
                <input asp-for="ResturantName" class="form-control" />
                <span asp-validation-for="ResturantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

